html,
body {
  height: 100%;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
}

p {
  direction: rtl;
}

input {
  direction: rtl;
}

#main_container {
  height: 100%;
  width: 100%;
  background-image: url('../images/background-2.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

#medical-chat-button {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-image: radial-gradient(circle at center, #0077c2, #0088cc, #0099ff);
  color: white;
  border: 2px solid #0099ff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa.fa-commenting {
  color: white;
}

#logo_box {
  display: none;
}

#webchat {
  display: none;
  position: fixed;
  left: 4%;
  bottom: 15%;
  height: 63%;
  width: 90%;
  border-radius: 10px;
  border: 2px solid grey;
  padding: 2px;
  background-color: white;
  border-style: solid;
  opacity: 0.95;
}

#webchat[watermark="true"] [role="complementary"] ul[role="list"]::after {
  content: "Powered By ...";
  background: linear-gradient(rgba(248, 248, 248, 0), rgba(248, 248, 248, .63), #F8F8F8 40%);
  bottom: 0;
  right: 0;
  color: #707070;
  display: block;
  font-family: 'Segoe Semibold', Calibri, 'Helvetica Neue', Arial, sans-serif;
  font-size: 12px;
  padding: 15px 10px 10px;
  position: absolute;
  position: sticky;
  text-align: right;
}

#webchat[watermark="true"] .webchat__scrollToEndButton {
  bottom: 32px;
  left: 50%;
  right: unset;
  transform: translate(-50%, 0);
}

@media (min-width: 768px) {
  #logo_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }

  #logo_box img {
    height: 200px;
  }

  #logo_box p {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-family: "Assistant";
  }

  #logo_box #title {
    font-size: 32px;
    margin-bottom: 0;
  }

  #logo_box #subtitle {
    font-size: 24px;
    margin-top: 0;
  }

  #main_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    justify-content: center;
    background-image: url('../images/desktop_background.png');
  }
  
  #medical-chat-button {
    display: none;
  }
  
  #webchat {
    position: relative;
    opacity: 0.8;
    display: block;
    height: 50%;
    width: 50%;
    left: 0;
    bottom: 0;
    margin-bottom: 3%;
  }
}